# データベース設定
POSTGRES_USER=studylog
POSTGRES_PASSWORD=studylog
POSTGRES_DB=studylog
POSTGRES_PORT=5433
DATABASE_URL=postgres://studylog:studylog@localhost:5433/studylog?sslmode=disable

## バックエンド認証設定
JWT_SECRET=your-secret-key-here
COOKIE_SECURE=false